<%- include('partials/head.ejs') %>
    <%- include('partials/header.ejs') %>
        <% if(message){%>
            <div class="errorContainer" id="errorContainer">
                <div class="errorMessage">
                    <div class="errorPic" style="background-image: url('./assets/warning.png');"></div>
                    <div class="description">
                        <h3>Debe agregar productos antes de finalizar la venta.</h3>
                        <button onclick="closeAlert()">Aceptar</button>
                    </div>
                </div>
            </div>
            <%}%>
                <div class="mainContainer">
                    <div class="productList">
                        <div class="products" id="productsToFilter">
                            <% let filtered=allProducts %>
                                <% allProducts.forEach((product=>{ %>
                                    <div class="product <%= product.category %> <%=product.stock==0 ? 'noStock' : null%>"
                                        name="<%= product.category %>"
                                        onclick="addToCart('<%= product._id%>', '<%= product.name%>', '<%= product.price%>', '<%= product.stock%>')">
                                        <div class="productPic"
                                            style="background-image: url('./assets/products/<%= product.image %>');">
                                            <span>
                                                <%=product.stock%>
                                            </span>
                                        </div>
                                        <span>
                                            <%= product.name %>
                                        </span>
                                        <span>$<%= product.price %></span>
                                    </div>
                                    <%}))%>
                        </div>
                        <div class="categories">
                            <% categories.forEach((category)=>{%>
                                <div class="category" onclick="filterProducts('<%= category.name%>')">
                                    <div class="categoryPic"
                                        style="background-image: url('./assets/<%= category.image%>');">
                                    </div>
                                    <p>
                                        <%= category.name%>
                                    </p>
                                </div>
                                <% })%>
                        </div>
                    </div>
                    <div class="resume">
                        <div class="title">
                            <h3>Lista de Productos</h3>
                            <!-- <input type="number" placeholder="Ingrese el código de barra">
                        <i class="fas fa-search"></i> -->
                        </div>
                        <div class="details">
                            <div class="header">
                                <p>Nombre</p>
                                <p>QTY</p>
                                <p>Precio</p>
                            </div>
                            <div class="body" id="shoopingCart">
                            </div>
                            <div class="footer">
                                <p>Total</p>
                                <p id="totalUnits"></p>
                                <p id="totalPrice"></p>
                            </div>
                        </div>

                        <div class="payment">
                            <h3>Método de Pago</h3>
                            <button onclick="changeMethod('Efectivo', this.id)" id="cashButton" class="paymentButton">
                                <i class="far fa-money-bill-alt"></i>
                                Efectivo
                            </button>
                            <button onclick="changeMethod('Débito', this.id)" id="debitButton" class="paymentButton">
                                <i class="far fa-credit-card"></i>
                                Débito
                            </button>
                            <button onclick="changeMethod('Crédito', this.id)" id="creditButton" class="paymentButton">
                                <i class="far fa-credit-card"></i>
                                Crédito
                            </button>
                        </div>
                        <form action="/nueva-venta" method="POST">
                            <input type="hidden" name="products" id="productsInput" required>
                            <input type="hidden" name="paymentMethod" id="paymentInput" required>
                            <div class="finish">
                                <button type="reset" onclick="clearCart()">
                                    <i class="fas fa-backspace"></i>
                                    Limpiar
                                </button>
                                <button type="submit">
                                    <i class="fas fa-share-square"></i>
                                    Finalizar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <%- include('partials/footer.ejs') %>